@page
@model IndexModel
@{
    ViewData["Title"] = "MegaDesk";
}

<div class="text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4 class="display-6"> MegaDesk - Order Quality! </h4>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>