@page
@model Mega_Desk_2._0.Pages.view.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MegaDesk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MegaDesk.ID" />
            <div class="form-group">
                <label asp-for="MegaDesk.firstName" class="control-label"></label>
                <input asp-for="MegaDesk.firstName" class="form-control" />
                <span asp-validation-for="MegaDesk.firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.lastName" class="control-label"></label>
                <input asp-for="MegaDesk.lastName" class="form-control" />
                <span asp-validation-for="MegaDesk.lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Width" class="control-label"></label>
                <input asp-for="MegaDesk.Width" class="form-control" />
                <span asp-validation-for="MegaDesk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Depth" class="control-label"></label>
                <input asp-for="MegaDesk.Depth" class="form-control" />
                <span asp-validation-for="MegaDesk.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Drawers" class="control-label"></label>
                <input asp-for="MegaDesk.Drawers" class="form-control" />
                <span asp-validation-for="MegaDesk.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.SurfaceMaterial" class="control-label"></label>
                <input asp-for="MegaDesk.SurfaceMaterial" class="form-control" />
                <span asp-validation-for="MegaDesk.SurfaceMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.RushOrder" class="control-label"></label>
                <input asp-for="MegaDesk.RushOrder" class="form-control" />
                <span asp-validation-for="MegaDesk.RushOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Cost" class="control-label"></label>
                <input asp-for="MegaDesk.Cost" class="form-control" />
                <span asp-validation-for="MegaDesk.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MegaDesk.Date" class="control-label"></label>
                <input asp-for="MegaDesk.Date" class="form-control" />
                <span asp-validation-for="MegaDesk.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
